<main id="main" class="main">
  <div class="pagetitle">
    <h1>User Details</h1>
  </div>
  <!-- End Page Title -->
  <section class="section profile">
    <div class="card">
      <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">
          <li class="nav-item">
            <button
              class="nav-link active"
              data-bs-toggle="tab"
              data-bs-target="#tab-basic-info"
            >
              Basic Info
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#tab-addresses"
            >
              Addresses
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#tab-cards"
            >
              Cards
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#tab-account-status"
            >
              Account Status
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#tab-activity"
            >
              Activity
            </button>
          </li>
        </ul>
        <div class="tab-content pt-2">
          <!-- Basic Info Tab -->
          <div class="tab-pane fade show active" id="tab-basic-info">
            <h5 class="card-title">Basic Information</h5>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">First Name</div>
              <div class="col-lg-9 col-md-8"><%= user.firstName %></div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Last Name</div>
              <div class="col-lg-9 col-md-8"><%= user.lastName %></div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Email</div>
              <div class="col-lg-9 col-md-8"><%= user.email %></div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Phone</div>
              <div class="col-lg-9 col-md-8"><%= user.phone || '-' %></div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Gender</div>
              <div class="col-lg-9 col-md-8"><%= user.gender || '-' %></div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Role</div>
              <div class="col-lg-9 col-md-8"><%= user.role %></div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Credits</div>
              <div class="col-lg-9 col-md-8"><%= user.credits %></div>
            </div>
          </div>
          <!-- Addresses Tab -->
          <div class="tab-pane fade" id="tab-addresses">
            <h5 class="card-title">Addresses</h5>
            <% if (user.addresses && user.addresses.length > 0) { %> <%
            user.addresses.forEach(function(address, idx) { %>
            <div
              class="border rounded p-2 mb-2 <%= address.isDefault ? 'border-primary' : '' %>"
            >
              <strong
                >Address <%= idx + 1 %> <%= address.isDefault ? '(Default)' : ''
                %></strong
              ><br />
              Name: <%= address.fullName %><br />
              Phone: <%= address.phone %><br />
              Street: <%= address.street %><br />
              City: <%= address.city %><br />
              State: <%= address.state || '-' %><br />
              Postal Code: <%= address.postalCode %><br />
              Country: <%= address.country %>
            </div>
            <% }) %> <% } else { %>
            <p>No addresses found.</p>
            <% } %>
          </div>
          <!-- Cards Tab -->
          <div class="tab-pane fade" id="tab-cards">
            <h5 class="card-title">Cards</h5>
            <% if (user.cards && user.cards.length > 0) { %> <%
            user.cards.forEach(function(card, idx) { %>
            <div
              class="border rounded p-2 mb-2 <%= card.isDefault ? 'border-primary' : '' %>"
            >
              <strong
                >Card <%= idx + 1 %> <%= card.isDefault ? '(Default)' : ''
                %></strong
              ><br />
              Cardholder Name: <%= card.cardholderName %><br />
              Card Number: **** **** **** <%= card.cardNumber.slice(-4) %><br />
              Expiry: <%= card.expiry %>
            </div>
            <% }) %> <% } else { %>
            <p>No cards found.</p>
            <% } %>
          </div>
          <!-- Account Status Tab -->
          <div class="tab-pane fade" id="tab-account-status">
            <h5 class="card-title">Account Status</h5>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Email Verified</div>
              <div class="col-lg-9 col-md-8">
                <%= user.isActiveEmail ? 'Yes' : 'No' %>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Phone Verified</div>
              <div class="col-lg-9 col-md-8">
                <%= user.isActivePhone ? 'Yes' : 'No' %>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Last Login</div>
              <div class="col-lg-9 col-md-8">
                <%= user.lastLogin ? user.lastLogin.toLocaleString() : '-' %>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Created At</div>
              <div class="col-lg-9 col-md-8">
                <%= user.createdAt ? user.createdAt.toLocaleString() : '-' %>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Updated At</div>
              <div class="col-lg-9 col-md-8">
                <%= user.updatedAt ? user.updatedAt.toLocaleString() : '-' %>
              </div>
            </div>
          </div>
          <!-- Activity Tab -->
          <div class="tab-pane fade" id="tab-activity">
            <h5 class="card-title">Activity</h5>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Wishlist Count</div>
              <div class="col-lg-9 col-md-8">
                <%= user.wishlist ? user.wishlist.length : 0 %>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Reset Password Code</div>
              <div class="col-lg-9 col-md-8">
                <%= user.resetPasswordCode || '-' %>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Reset Code Expires</div>
              <div class="col-lg-9 col-md-8">
                <%= user.resetPasswordCodeExpires ?
                user.resetPasswordCodeExpires.toLocaleString() : '-' %>
              </div>
            </div>
          </div>
        </div>
        <!-- End Bordered Tabs -->
      </div>
    </div>
  </section>
</main>
